.collection-item {
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img1/download1.jpg);
        height:400px;
      .little-frame{
        background-image: linear-gradient(white,white);
        margin-top:100px;
        margin-left: 150px;
        margin-bottom: 80px;
        .explorex{
          margin-top:10px;
        }
          .explore{
            margin-top:10px;
          strong{
          color:#ff522c;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      }
}

.button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  
  cursor: pointer;
}
.button i{
  margin-left: 10px;
}

.space{
  margin-top: 10px;
  strong{
     margin-right: 5px;
  }
   
    .rex p{
      margin-left: 0px;
      a:link{
          color:#ff522c;
          border-bottom: 1px solid #ff522c;
      }
      a:hover{
         border-bottom: none;

      }
    }
    .apartment{
  display: flex;
  justify-content: space-between;
  
}

  .rover{
  border-radius:25px;
  }


}

 .popular{
      a:link{
          color:#ff522c;
          border-bottom: 1px solid #ff522c;
      }
      a:hover{
         border-bottom: none;

      }
    }

  .lights{
    justify-content: space-between;
    display: flex;
  }
  .lamp {
   
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img1/download5.jpg);
 
  .buttonl {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 300px;
  margin-right:100px;
  cursor: pointer;
}
  
  }

 
 

  .chandelier{
   height: 400px;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img1/download6.jpg);

  .buttonc {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 300px;
  margin-right:100px;
  
  cursor: pointer;
}
  }   

.direct{
  display: flex;
  justify-content: space-between;
  li{
    list-style:none;

  }
}

.product{
      background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1))
}

.prod1 li {
  list-style: none;
  display: block;
  
}

.white{
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.0))

}
.product2{
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.0))

}

.productl{
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.0))
     
}
 .topper-roots{
            list-style:none;
            .topper-childs{
                display: inline-block;
                margin-right:155px;
                color:black;
                margin-top:25px;
                
            }
 }
 .offers p{
   margin-right:150px;
      margin-bottom:55px;

 }

 .Emailer{
   font-weight: .1px;
   font-size:8px;
   margin-right: 350px;
 }
 .hor{
   width: 250px;
   margin-left:50px;
 }
 .buttono{
    background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 300px;
  
  cursor: pointer;;
 }
.productr{
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.0)),url(img1/download1.jpg);
        height:400px;
}

.spaceout{
     background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.0));
     height: 30px;
}

.access {
  float: right;
  li{
    color:white;
  }
  
}

.water{
  color:white;
 
}

.quick{
  color:white;
  .utils li{
    color:white;
  }
  .utils li:first-child{
    color:#b36648;
  }
}

.socials{
  color:white;
  .soc a{
     color:white;
  }
}

.mob i{
  color:#b36648;
}
.accessimg{
  float:right;
}
.accessimg img{
  
  width: 20%;
   height: auto;
   margin-top:5px;
   margin-right: 5px;
   display:inline-block;
}