 .jumper-root{
            
            list-style:none;
            .jumper-childr{
                display: inline-block;
                margin-right: 10px;
                color:#ff522c;
            }
            .jumper-child{
                display: inline-block;
                margin-right: 10px;
            }
            .jumpc{
                font-size: 15px;
            }
 }