.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    
  }
 
  
  .options {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;



.main-nav li{
 display: inline-block;
}

    .option {
      padding: 10px 15px;
      cursor: pointer;

      .top li{
        display: block;
        
      }
    }
 
  }
     .mobile-nav-icon {
  float: right;
  margin-top: 3px;
  cursor: pointer;
  display:none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}  
}